<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEventos">

        <!-- Launcher -->
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras activities -->
        <activity android:name=".InicioActivity" android:exported="false"/>
        <activity android:name=".MenuComidaActivity" android:exported="false"/>
        <activity android:name=".PresentacionActivity" android:exported="false"/>
        <activity android:name=".AlcoholActivity" android:exported="false"/>
        <activity android:name=".BebidasActivity" android:exported="false"/>
        <activity android:name=".EnsaladasActivity" android:exported="false"/>
        <activity android:name=".MariscoActivity" android:exported="false"/>
        <activity android:name=".PescadoActivity" android:exported="false"/>
        <activity android:name=".VeganosCeliacosActivity" android:exported="false"/>
        <activity android:name=".TerneraActivity" android:exported="false"/>
        <activity android:name=".CerdoActivity" android:exported="false"/>
        <activity android:name=".PolloActivity" android:exported="false"/>
        <activity android:name=".PastelesActivity" android:exported="false"/>
        <activity android:name=".EntrantesActivity" android:exported="false"/>
        <activity android:name=".ImagenCompletaActivity" android:exported="false"/>
        <activity android:name=".ListaEventosActivity" android:exported="false"/>
        <activity android:name=".FormularioActivity" android:exported="false"/>
        <activity android:name=".GaleriaActivity" android:exported="false"/>
        <activity android:name=".ContactoActivity" android:exported="false"/>
        <activity android:name=".TestimoniosActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>

    </application>
</manifest>




